/* Main CSS */

/* BODY */
body {
    background: url("../img/mapsFont.jpg") no-repeat center center;
    background-size: cover;
}

/* Container MAP */
#map {
    width: 800px;
    height: 600px;
    box-sizing: border-box;
    margin: 50px auto;
}

/* Container Map-Panel */
#map-panel {
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}